/*------------------------ HEADER ---------------------------------*/
.top-header
{    
    height:40px;   
    background: rgb(132,159,194); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg0OWZjMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjODQ5ZmMyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY2ODNiMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, rgb(132,159,194) 0%, rgb(132,159,194) 0%, rgb(102,131,179) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(132,159,194)), color-stop(0%,rgb(132,159,194)), color-stop(100%,rgb(102,131,179))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(132,159,194) 0%,rgb(132,159,194) 0%,rgb(102,131,179) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(132,159,194) 0%,rgb(132,159,194) 0%,rgb(102,131,179) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(132,159,194) 0%,rgb(132,159,194) 0%,rgb(102,131,179) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(132,159,194) 0%,rgb(132,159,194) 0%,rgb(102,131,179) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#849fc2', endColorstr='#6683b3',GradientType=0 ); /* IE6-8 */
}
.bottom-header
{    
    height:40px;  
    text-align:center;    
    background: rgb(102,131,179); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2ODNiMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNjY4M2IzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzg0OWZjMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, rgb(102,131,179) 0%, rgb(102,131,179) 0%, rgb(132,159,194) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(102,131,179)), color-stop(0%,rgb(102,131,179)), color-stop(100%,rgb(132,159,194))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(102,131,179) 0%,rgb(102,131,179) 0%,rgb(132,159,194) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(102,131,179) 0%,rgb(102,131,179) 0%,rgb(132,159,194) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(102,131,179) 0%,rgb(102,131,179) 0%,rgb(132,159,194) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(102,131,179) 0%,rgb(102,131,179) 0%,rgb(132,159,194) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6683b3', endColorstr='#849fc2',GradientType=0 ); /* IE6-8 */
    
    /* shadow */
    -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.2); /* Для Firefox */
    -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.2); /* Для Safari и Chrome */
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2); /* Параметры тени */
    
}
#wishlist
{
    background-image: url(images/title.png);
    width:119px;
    height:54px;
    position:absolute;
    margin-left:100px;
    margin-top:5px;
}

/*------------------------ SEARCH AREA ---------------------------------*/
#search-textbox
{
    float: right;
    margin:10px 0 0 0;
    border: 1px solid #c4c4c4;
    width: 180px;
    height: 15px;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
     /* border radius */
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#search-textbox:focus {
    outline: none;    
}

#search-button
{
    float: right;
    height:15px;
    margin:10px 10px 0 0;
    padding: 4px 4px 4px 4px;
    border: 1px solid #c4c4c4;
    background-color:#fff;
}
#search-button img
{
    border-style:none;
}
/*------------------------ RIGHT NAV MENU ---------------------------------*/
.right-nav
{
    float:right;
    margin-right:20px;
}
.right-nav-menu-item
{
     display: inline-block;
     line-height: 40px;
     padding-left:10px;
     padding-right:10px;    
     font-family: Arial, Helvetica, sans-serif;    
     color:#fff;
}
.right-nav-menu-item a
{
     text-decoration:none;  
     font-family: Arial, Helvetica, sans-serif;    
     color:#fff;
}
.right-nav-menu-item:hover
{
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2ODNiMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNjY4M2IzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzg0OWZjMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, rgb(102,131,179) 0%, rgb(102,131,179) 0%, rgb(132,159,194) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(102,131,179)), color-stop(0%,rgb(102,131,179)), color-stop(100%,rgb(132,159,194))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(102,131,179) 0%,rgb(102,131,179) 0%,rgb(132,159,194) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(102,131,179) 0%,rgb(102,131,179) 0%,rgb(132,159,194) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(102,131,179) 0%,rgb(102,131,179) 0%,rgb(132,159,194) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(102,131,179) 0%,rgb(102,131,179) 0%,rgb(132,159,194) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6683b3', endColorstr='#849fc2',GradientType=0 ); /* IE6-8 */
    
    /* border radius */
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.right-hidden-menu
{
    position:absolute;      
    border: 5px solid #849FC2;      
    width:160px; 
    right:20px;    
    background-color:#F2F2F2;
    display:none;
    text-align:center;
    z-index:10;
    
    /* border radius */
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    
    /* shadow */
    -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.3); /* for Firefox */
    -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.3); /* for Safari and Chrome */
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3); 
}

#right-nav-menu li:hover .right-hidden-menu
{   
    display:block;
}
/*-------------- COLUMS RIGHT MENU -----------------*/  
.right-col-list
{
    list-style:none;
    line-height:30px;
    width:160px; 
}
.right-col-list li a
{
    text-decoration:none;    
    color:#404040;   
}
.right-col-list li:hover
{
    background: rgb(253,143,143); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkOGY4ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmQ4ZjhmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NlMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, rgba(253,143,143,1) 0%, rgba(253,143,143,1) 0%, rgba(206,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,143,143,1)), color-stop(0%,rgba(253,143,143,1)), color-stop(100%,rgba(206,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(253,143,143,1) 0%,rgba(253,143,143,1) 0%,rgba(206,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(253,143,143,1) 0%,rgba(253,143,143,1) 0%,rgba(206,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(253,143,143,1) 0%,rgba(253,143,143,1) 0%,rgba(206,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(253,143,143,1) 0%,rgba(253,143,143,1) 0%,rgba(206,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd8f8f', endColorstr='#ce0000',GradientType=0 ); /* IE6-8 */
    
    /* border radius */
    -webkit-border-radius: 3px;    
    -moz-border-radius: 3px;    
    border-radius: 3px;    
    
     /* shadow */
    -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.2); /* for Firefox */
    -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.2); /* for Safari and Chrome */
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2); 
}
.right-col-list li:hover a
{
    text-decoration:underline;
    color:#fff;
}
/*------------------------ MENU ---------------------------------*/
.menu-item
{
    display: inline-block;
    text-align: center;
    line-height: 40px;
    padding-left:10px;
    padding-right:10px;
    font-family: Arial, Helvetica, sans-serif;    
    color:#fff;   
}
.menu-item:hover
{
    background: rgb(132,159,194); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */ 
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg0OWZjMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjODQ5ZmMyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY2ODNiMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, rgb(132,159,194) 0%, rgb(132,159,194) 0%, rgb(102,131,179) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(132,159,194)), color-stop(0%,rgb(132,159,194)), color-stop(100%,rgb(102,131,179))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(132,159,194) 0%,rgb(132,159,194) 0%,rgb(102,131,179) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(132,159,194) 0%,rgb(132,159,194) 0%,rgb(102,131,179) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(132,159,194) 0%,rgb(132,159,194) 0%,rgb(102,131,179) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(132,159,194) 0%,rgb(132,159,194) 0%,rgb(102,131,179) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#849fc2', endColorstr='#6683b3',GradientType=0 ); /* IE6-8 */
    
    /* border radius */
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.hidden-menu
{
    position:absolute;      
    border: 5px solid #6683b3;      
    width:800px; 
    left:50%;
    margin-left:-400px;
    background-color:#F2F2F2;
    display:none;
    z-index:10;
    
    /* border radius */
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    
    /* shadow */
    -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.3); /* for Firefox */
    -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.3); /* for Safari and Chrome */
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3); 
}
#menu li:hover .hidden-menu
{   
    display:block;
}
/*-------------- COLUMS MAIN MENU -----------------*/  
.col
 {  
    display:inline-block;  
    float: left;  
    position: relative;      
    line-height:30px;
    width:160px;    
}  
.col-list
{
    list-style:none;
}
.col-list li a
{
    text-decoration:none;     
    color:#404040;    
}
.col-list li:hover
{
    background: rgb(253,143,143); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkOGY4ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmQ4ZjhmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NlMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, rgba(253,143,143,1) 0%, rgba(253,143,143,1) 0%, rgba(206,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,143,143,1)), color-stop(0%,rgba(253,143,143,1)), color-stop(100%,rgba(206,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(253,143,143,1) 0%,rgba(253,143,143,1) 0%,rgba(206,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(253,143,143,1) 0%,rgba(253,143,143,1) 0%,rgba(206,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(253,143,143,1) 0%,rgba(253,143,143,1) 0%,rgba(206,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(253,143,143,1) 0%,rgba(253,143,143,1) 0%,rgba(206,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd8f8f', endColorstr='#ce0000',GradientType=0 ); /* IE6-8 */
    
    /* border radius */
    -webkit-border-radius: 3px;    
    -moz-border-radius: 3px;    
    border-radius: 3px;    
    
     /* shadow */
    -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.2); /* for Firefox */
    -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.2); /* for Safari and Chrome */
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2); 
}
.col-list li:hover a
{
    text-decoration:underline;
    color:#fff;
}
/*------------------------ POSTS ---------------------------------*/
.body-wrapper
{	
	width:100%;
}
.post-wrapper
{	
	top:20px;
	position:relative;
	visibility:hidden;
	min-width:800px;
	margin: 0 60px 0 60px;			
}
.post
{    
    width:222px;    
    border:1px solid #C4C4C4;    
}
.pin-holder
{
	background-color: #FFFFFF;
	border-bottom: 1px solid #C4C4C4;
	padding-bottom:5px;
}
.pin-holder img
{
	margin-left: auto;
	margin-right: auto;	
	padding-top: 15px;
	padding-bottom: 15px;
	display: block;
}
.pin-holder p
{
	width: 192px;
	padding-left: 15px;
}
.pin-info
{
	color:#8C7E7E;
	font-size:12px;
}
.pin-description
{		
	font-size:12px;
}
.comments
{	
	background-color: #F2F0F0;	
	font-family: "helvetica neue",arial,sans-serif;
	font-size: 10px;
	color: #211922;
}
.comment
{	
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #C4C4C4;	
	height:1%;
	overflow:hidden;	
	padding:10px;
}
.comment img
{
	padding-right:10px;	
	padding-bottom:5px;
	width: 30px;
	float:left;
}
.comment p
{	
	margin:0;
	color:#8C7E7E;
}
.user-name
{	
	display:block;
	margin-bottom: 5px;
	text-decoration:none;
	font-weight:bold;	
	color:#524D4D;
}
.user-name:hover
{
	text-decoration: underline;
}
.comment:last-child
{
	border-bottom:none;
}
#show-all
{
	font-size:12px;
	font-weight:bold;	
	color:#524D4D;
	text-decoration:none;
}
#show-all:hover
{
	text-decoration: underline;
}

/*----------------- POSTS BUTTON --------------------------*/
.actions
{
	position:absolute;
	height: 40px;
	width:222px;
	visibility:hidden;
	padding: 5px 0 0 5px;
}
.post:hover .actions
{
	visibility:visible;
}
.action-button
{
	height:20px;	
	display: inline-block;
    line-height: 15px;   
    padding: 5px 10px 0px 10px;   
    font-family: Arial, Helvetica, sans-serif;    
    font-size: 11px;
    font-weight:bold;
    color:#000000;
    background-color:#F2F0F0;	 
    text-decoration:none;	
    border:1px solid #C4C4C4;
    
     /* border radius */
    -webkit-border-radius: 5px;    
    -moz-border-radius: 5px;    
    border-radius: 5px;
}
.action-button:hover
{
	/* shadow */
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);  /* for Firefox */    
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* for Safari and Chrome */     
    box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.2); 
    
    background-color:#FFFFFF;
}

/*----------------------- SCROLLUP BUTTON -------------------------------*/
.scrollup
{
	display:none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 70px;
	height: 70px;
	border: 1px solid #C4C4C4;
	background-color: #F2F0F0;
}
