@{
    ViewBag.Title = "Home";
}
<h2>
    Home</h2>
<div class="post-wrapper">
    @foreach (WishList_WebUI.Models.PinViewModel pin in ViewData.Model)
    {
        <div class="post">
            <img src="@pin.UserPost.ThumbnailUrl" alt="Alternate Text" />
            <ul>
                @foreach (WishList_Repository.DBEntities.CommentEntity comment in pin.Comments)
                {
                    var user = pin.Users.SingleOrDefault(u => u.Id == comment.UserId);                
                    <b>@user.FirstName</b>
                    <b>@user.LastName</b>
                    <li>@comment.Message</li>			
                }
            </ul>
        </div>
    }
</div>
